body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
}

header h3 {
    font-family: 'Amsterdam Signature One', cursive;
    color: #fec02f;
    /* fallback font for devices that don't support the custom font */
}

header > nav {
    background-color: blueviolet;
}

header li a {
    color: #fec02f;
}

@media only screen and (max-width: 600px) {
    header {
        display: flex;
        height: 60px;
    }

    header > div{
        display: flex;
    }

    header > div > h3 {
        margin-top: 15px;
    }
}

@media only screen and (min-width: 600px) {
    header {
        display: flex;
        height: 70px;
    }

    header > div{
        display: flex;
    }

    header > div > h3 {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 768px) {
    header {
        display: flex;
        height: 80px;
    }

    header > div{
        display: flex;
    }

    header > div > h3 {
        margin-top: 25px;
    }
}

@media only screen and (min-width: 992px) {
    header {
        display: flex;
        height: 90px;
    }

    header > div{
        display: flex;
    }

    header > div > h3 {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1200px) {
    header {
        display: flex;
        height: 100px;
    }

    header > div{
        display: flex;
    }

    header > div > h3 {
        margin-top: 35px;
    }
}

@font-face {
    font-family: 'Amsterdam Signature One';
    src: url('/fonts/amsterdam-signature-one.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}